# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Environment Variables and Node Modules #
##########################################
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/node_modules